# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\important_code\Server-user\Airway_Full_Work\Git_Repo\V2\IMR_AirwayAtlas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
